body {
	padding-top: 60px !important;
	font-size: 13px !important;
}

.parts-tab textarea {
	height: 300px;
	width: 99%;
}

.type-button {
	margin-bottom: 9px;
}

.type-button.right {
	text-align: right;
}