#{extends 'main.html' /}

#{form @save(), class: "well"}
	<input type="hidden" name="layout.id" value="${layout?.id}"/>
	
	<div class="type-text">
		#{field 'layout.title'}
		<label>Title:</label>
		<input type="text" name="${field.name}" value="${layout?.title}" class="${field.errorClass} span4"/>
		#{/field}
		#{field 'layout.contentType'}
		<label>Content type:</label>
		<input type="text" name="${field.name}" value="${layout?.contentType}" class="${field.errorClass} span4"/>
		#{/field}
	</div>
	
	<div class="type-text">
		#{field 'layout.content'}
		<textarea name="${field.name}">${layout?.content}</textarea>
		#{/field}
	</div>
	#{include 'post_buttons.html' /}
#{/form}
