#{extends 'main.html' /}
#{set title:'Layouts' /}

<div class="type-button"><a class="btn btn-success" href="@{create}">Add</a></div>

<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Title</th>
		<th width="150">Action</th>
	</tr>
	</thead>
	<tbody>
	#{list items:layouts, as:'layout'}
	<tr>
	<td>
		<i class="icon-tag"></i><a href="@{admin.Layouts.edit(layout.id)}">${layout.title}</a>
	</td>
	<td>
	    <a href="@{admin.Layouts.edit(layout.id)}" class="icon-pencil"></a>
	    #{if layout.id != 1}
		<a href="#delete-dialog" layoutid="${layout.id}" data-toggle="modal" class="icon-minus to-delete"></a>
		#{/if}
	</td>
	</tr>
	#{/list}
	</tbody>
</table>

<div id="dialog-confirm">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></p>
</div>

<div id="delete-dialog" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Delete layout</h3>
  </div>
  <div class="modal-body">
    <p>The layout will be permanently deleted and cannot be recovered.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary btn-confirm">Delete</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {	
		var to_delete = 0;
		
		$('.to-delete').click(function() {
			to_delete = $(this).attr('layoutid');
		});
		
        $("#delete-dialog a.btn-confirm").click(function() {
                var deleteAction = #{jsAction @delete(':id') /}
                var url = deleteAction({id: to_delete});
                $(location).attr('href',url);
        });
	});
</script>