#{extends 'main.html' /}

#{form @save(), class: "well"}
	<input type="hidden" name="snippet.id" value="${snippet?.id}"/>
	
	<div class="type-text">
		#{field 'snippet.title'}
		<label>Title:</label>
		<input type="text" name="${field.name}" value="${snippet?.title}" class="${field.errorClass} span4"/>
		#{/field}
	</div>
	
	<div class="type-text">
		#{field 'snippet.content'}
		<textarea name="${field.name}">${snippet?.content}</textarea>
		#{/field}
	</div>
	#{include 'post_buttons.html' /}
#{/form}
