<tr id="${_arg.id}" #{if _arg.parent != null}class="child-of-${_arg.parent.id}"#{/if}>
<td>
	<i class="icon-tag"></i><a href="@{admin.Pages.edit(_arg.id)}"> ${_arg.title}</a>
</td>
<td>${_arg.parent?.id}</td>
<td>
    <a href="@{admin.Pages.createChild(_arg.id)}" class="icon-plus"></a>
    <a href="@{admin.Pages.edit(_arg.id)}" class="icon-pencil"></a>
	#{if _arg.parent != null && _arg.hasChildren() == false}
	    <a href="#delete-dialog" pageid="${_arg.id}" data-toggle="modal" class="icon-minus to-delete"></a>
	#{/if}
</td>
</tr>
#{if _arg.hasChildren()}
	#{list items:_arg.childs, as:'child'}
		#{pagetree child/}
	#{/list}
#{/if}