<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="@{admin.Pages.list()}">Percont CMS</a>
      <div class="nav-collapse">
        <ul class="nav">
			<li class="${request.controller == 'admin.Pages'   ? 'active' : ''}"><a href="@{admin.Pages.list()}">Pages</a></li>
			<li class="${request.controller == 'admin.Snippets' ? 'active' : ''}"><a  href="@{admin.Snippets.list()}">Snippets</a></li>
			<li class="${request.controller == 'admin.Layouts' ? 'active' : ''}"><a  href="@{admin.Layouts.list()}">Layouts</a></li>
			<li class="${request.controller == 'GalleryFiles' ? 'active' : ''}"><a  href="@{CRUD.index()}">Plugins</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>