    <div class="type-button right">
        <input class="btn btn-primary" type="submit" name="_save" value="Save"/>
        <input class="btn" type="submit" name="_saveAndContinue" value="Save and continue editing"/>
    </div>