#{extends 'main.html' /}
#{set title: page?.title /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/redactor/css/redactor.css'}" type="text/css" />

	<style type="text/css">

		.parts {
			margin-bottom: 9px;
		}
		
		ul.parts {
			margin-bottom: 0px;
			border-bottom: none;
		}
		
		.parts-tab {
			padding: 10px;
			background-color: white;
			border: 1px solid #DDD;
		}
	</style>
#{/set}

#{set 'moreScripts'}
	<script language="javascript" type="text/javascript" src="@{'/public/redactor/redactor.js'}"></script>
#{/set}

<h3>Edit Page: ${page.title}</h3>

#{form @save(), class: "well"}
    <input type="hidden" name="page.id" value="${page?.id}"/>
    #{if parentId}
    <input type="hidden" name="parentId" value="${parentId}"/>
    #{/if}

    #{field 'page.title'}
	<label>Title:</label>
	<input type="text" name="${field.name}" value="${page?.title}" class="${field.errorClass} span4"/>
	#{/field}
	#{field 'page.domain'}
	<label>Domain:</label>
	<input type="text" name="${field.name}" value="${field.value}" class="${field.errorClass} span4"/>
	#{/field}
	#{field 'page.path'}
	<label>Path / Slug:</label>
	<input type="text" name="${field.name}" value="${field.value}" class="${field.errorClass} span4"/>
	#{/field}
	#{field 'page.layout.id'}
	<label>Layout:</label>
	<select name="${field.name}">
	    <option value=""><i>inherited</i></option>
	    #{list layouts}
	    <option value="${_.id}" ${page?.layout?.id == _.id ? "selected" : ""}>${_.title}</option>
	    #{/list}
	</select>
    #{/field}

    <div class="type-button">
    	<a class="btn btn-success add-part" data-toggle="modal" href="#add-dialog">Add part</a>
    	<a class="btn btn-danger del-part" data-toggle="modal" href="#delete-dialog">Delete part</a>
    </div>
    
    <div class="parts"> 
    <ul id="parts" class="nav nav-tabs parts">
      #{list page?.parts}
        <li><a data-toggle="tab" href="#parts-${_.title}">${_.title}</a></li>
      #{/list}
    </ul>
    
    <div class="parts-tab" style="display: none;">
        <div class="tab-content">
	        #{list page?.parts}
	        <div id="parts-${_.title}" class="tab-pane">
	                <input type="hidden" name="parts[${_.id}].id" value="${_.id}"/>
	                <input type="hidden" name="parts[${_.id}].title" value="${_.title}"/>
	                #{field 'parts['+_.id+'].content'}
	                	<textarea name="${field.name}" class="redactor_part" id="ta-${_.id}">${_?.content}</textarea>
	                #{/field}
	        </div>
	        #{/list}
        </div>
    </div>
    </div>
	#{include 'post_buttons.html' /}
#{/form}

<!-- Dialogs -->
<!-- Add Part -->
<div id="add-dialog" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add Part</h3>
  </div>
  <div class="modal-body">
	<form>
	    <label for="create_part_field_title">Name:</label>
    	<input class="span3" id="create_part_field_title" type="text" name="partname"/>
	</form>
	<script type="text/javascript">
		$('#add-dialog').find("form").submit(function() {
			$(this).bind()
			return false;
		});	
	</script>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary btn-confirm" data-dismiss="modal">Add</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<!-- Delete Part -->
<div id="delete-dialog" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Delete page?</h3>
  </div>
  <div class="modal-body">
    <h4>Text in a modal</h4>
    <p>This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary btn-confirm" data-dismiss="modal">Delete</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<!-- End Dialogs -->

<script type="text/javascript">
	
	var part_counter;
	
	function addTab(name) {
		var li = $('<li><a data-toggle="tab" href="#parts-'+name+'">'+name+'</a></li>');
		
        $('#parts').append(li);
        
        var new_tab_content = $("<div id=\"parts-"+name+"\" class=\"tab-pane\">"
          + "<input type=\"hidden\" name=\"parts[" + part_counter + "].title\" value=\"" + name + "\"/>"
          + "<textarea id=\"ta-" + part_counter + "\" name=\"parts[" + part_counter + "].content\"/>");
          
        $('.tab-content').append(new_tab_content);
        $(new_tab_content).find("textarea").redactor();
    }

    $(document).ready(function() {
    	part_counter = 50 + ${page?.parts?.size() ?: 0}; // id > 50 = new part
		
    	$("#parts li a").live('click', function() {
    		$('.parts-tab').show();
    	});
    	
    	//init redactor 
    	var redactors = $(".redactor_part");
		for(var i = 0; i < redactors.size(); i++ ) {
			$(redactors[i]).redactor({
				image_upload: "/redactor/image_upload",
				file_upload: "/redactor/file_upload",
				file_download: "/redactor/file_download/",
				file_delete: "/redactor/file_delete/",
			});
		}

        $('#add-dialog a.btn-confirm').click(function() {
        	
       	   var partname = $("#create_part_field_title").val();
           addTab(partname);
        });

        
        $('.del-part').click(function() {
        	var $activePart = $(".tab-pane.active");

        	if ($activePart.size() != 1)
        		return;
        	
        	$("#delete-dialog a.btn-confirm").click(function() {
	            $activePart.remove();
	            $("#parts li.active").remove();
	            $('.parts-tab').hide();
        	});
        })
    });

</script>