#{extends 'main.html' /}

#{set 'moreStyles'}
	#{stylesheet 'jquery.treeTable.css' /}
#{/set}

#{set 'moreScripts'}
	#{script 'jquery.treeTable.js' /}
#{/set}

#{set title:'Home' /}

<table class="table table-bordered table-striped pagelist">
	<thead>
	<tr>
		<th>Title</th>
		<th width="50">Status</th>
		<th width="150">Action</th>
	</tr>
	</thead>
	<tbody>
	#{list items:pages, as:'page'}
		#{pagetree page /}
	#{/list}
	</tbody>
</table>

<div id="delete-dialog" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Delete page</h3>
  </div>
  <div class="modal-body">
    <p>The snippet will be permanently deleted and cannot be recovered.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary btn-confirm">Confirm</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(".pagelist").treeTable({
			initialState: "expanded"
		});

		// Make visible that a row is clicked
		//$("table#pagelist tbody tr").mousedown(function() {
		//	$("tr.selected").removeClass("selected"); // Deselect currently selected rows
		//	$(this).addClass("selected");
		//});

		// Make sure row is selected when span is clicked
		//$("table#pagelist tbody tr span").mousedown(function() {
		//	$($(this).parents("tr")[0]).trigger("mousedown");
		//});

		var to_delete = 0;
		
		$('.to-delete').click(function() {
			to_delete = $(this).attr('pageid');	
		});
		
        $("#delete-dialog a.btn-confirm").click(function() {
                var deleteAction = #{jsAction @delete(':pageId') /}
                var url = deleteAction({pageId: to_delete});
                $(location).attr('href',url);
        });
	});
</script>
